# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Django DB (if using SQLite for dev)
db.sqlite3

# Migrations (optional if you recreate them per environment)
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py  # keep __init__.py so the folder is treated as a package

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db
